
<div class = "con" align = 'center'>
  <%= image_tag("logo.gif", :alt => "logo") %>
  <h1>About</h1>
  <p><i>Cassidy's Doggy Daycare</i> was founded in early 2018 by Cassidy Sowards, dog lover extraordinare. She got her start in caring for dogs at the young age of 17, where she worked at a dog boarding facility near her home.  After going to college for Information Science, she decided to take a break from the tech industry and do something close to her heart. In late 2017, she started construction on a custom facility, complete with an apartment on the second floor where she could easily watch out for every dog that comes her way.</p>
  </br>
  <p>Together with her top knotch employees, she aims to provide the best quality service and care possible.</p>
</div>