<div class = "con" align = "center">
  <h1>Credits</h1>
  <p>This project was honestly one of the hardest things I have ever done. I got my start using <%= link_to "RailsTutorial.org", "https://www.railstutorial.org/", :target => "_blank" %>. I honestly don't know how I would've done this project without this site and it's detailed explanations. I'd also like to thank <%= link_to "Stack Overflow", "https://stackoverflow.com/", :target => "_blank" %> for filling any blanks I had (including how to do these links).</p>
  </br>
  <p>This project was coded using the frameworks <%= link_to "Ruby on Rails ", "http://rubyonrails.org/", :target => "_blank" %> and <%= link_to "Bootstrap", "https://getbootstrap.com/", :target => "_blank" %></p>
</div>