<div class = "con" align = "center">
  <%= image_tag("logo.gif", :alt => "logo") %>
  <h1>Rates</h1>
  <p>At this time, we only offer daycare and boarding for <b>dogs</b>.</p>
  <ul>
    <li>Boarding- <b>$50/day</b></li>
    <p>This rate includes feeding, walks, and any medication your dog might need.</p>
    <li>Daycare- <b>$25/day OR $110 for the week</b></li>
    <p>This rate includes walks and any medication your dog might need.</p>
  </ul>
  <b>Check in:</b> 
  <p>Check in will be at the time you specify when making a reservation online. If you arrive for check in and the front door is locked, ring the door bell and one of our staff will assist you shortly.</p>
</div>