@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$green: #ccffcc;
$gray: #f2f2f2;

/* universal */

body {
 padding-top: 60px;
 background-image: image-url('e.JPG'); 
 background-repeat:no-repeat;
 background-position: top-center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center{
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container{
  opacity: 0.87;
}

.navbar {
  background-color: $green;
}

.con{
  background-color: white;
  padding: 15px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn{
  background-color: $green;
  color: black;
  border: 1px solid black;
  
  &:hover{
   background-color: black;
   color: white;
   border: 1px solid white;
  }
  
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  opacity: 1.0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  opacity: 1.0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.row{
  opacity: 1.0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


